/* Written by http://bettermotherfuckingwebsite.com/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
:root {
    --green: #82d0a0;   
}

body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
}

pre {
    background: #f5f5f5;
    padding: 1em;
    margin: 0;
    border-radius: 8px;
}

main {
    padding: 0.5em;
    max-width: 900px;
    margin: 40px auto;
}

footer {
    background: #f5f5f5;
    padding: 1em;
}
footer p {
    margin: 0;
}

.container {
    padding: 0.5em;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
    padding: 0 1em;
}

.flex-20 {
    width: 20%;
}
.flex-30 {
    width: 30%;
}
.flex-40 {
    width: 40%;
}
.flex-50 {
    width: 50%;
}
.flex-60 {
    width: 60%;
}
.flex-70 {
    width: 70%;
}
.flex-80 {
    width: 80%;
}
.flex-100 {
    width: 100%;
}

.about {
}
.downloads {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strike {
    text-decoration: line-through;
}
.asterisks {
    color: red;
    font-size: 18pt;
}

.btn {
    display: block;
    background:var(--green);
    padding: 0.45em;
    color: #fff;
    text-decoration: none;
    margin: 0.6em 0em;
    text-align: center;
    font-size: 15pt;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.disabled {
    background: var(--green);
    cursor: not-allowed;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bucket-container {
    justify-content: space-evenly;
}
.link-bucket {
    padding: 0.5em;
    min-width: 25%;
}
.link-bucket h2 {
    margin-top: 0;
    font-size: 16pt;
}
.link-bucket ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link-bucket ul li {
    padding: 0;
}
.content {
    padding: 1.0em;
}
.code-example {
    background: #fff;
    padding: 0.5em;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.line {
    display: block;
    width: 100%;
    background: var(--green);
    height: 0.5em;
}

h1, h2, h3 {
    line-height:1.2
}

a {
    color: var(--green);
}
.link-bucket a {
    text-decoration: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .header-container {
        flex-direction: column;
    }
    
    .logo-container {
        display: none;
        width: 0;
    }

    .bucket-container {
        flex-direction: column;
        padding: 1em;
    }

    .flex-column {
        padding: 0;
    }

    .flex-20,
    .flex-30,
    .flex-40,
    .flex-50,
    .flex-60,
    .flex-70,
    .flex-80,
    .flex-100 {
        width: 100%;
    }

    .content .flex-row {
        flex-direction: column;
    }

    .downloads.container,
    .example.container,
    .about.container,
    .features.container {
        width: 100%;
    }

    .link-bucket {
        width: 100%;
    }

    .about p {
        margin-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header-container {
        flex-direction: column;
    }
    
    .logo-container {
        display: none;
        width: 0;
    }

    .flex-20,
    .flex-30,
    .flex-40,
    .flex-50,
    .flex-60,
    .flex-70,
    .flex-80,
    .flex-100 {
        width: 100%;
    }

    .flex-column {
        padding: 0;
    }

    .bucket-container {
        flex-direction: column;
        padding: 1em;
    }

    .content .flex-row {
        flex-direction: column;
    }

    .downloads.container,
    .example.container,
    .about.container,
    .features.container {
        width: 100%;
    }

    .link-bucket {
        width: 100%;
    }

    .about p {
        margin-top: 0;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .header-container {
        flex-direction: column;
    }
    
    .logo-container {
        display: none;
        width: 0;
    }

    .flex-20,
    .flex-30,
    .flex-40,
    .flex-50,
    .flex-60,
    .flex-70,
    .flex-80,
    .flex-100 {
        width: 100%;
    }

    .bucket-container {
        flex-direction: column;
        padding: 1em;
    }

    .flex-column {
        padding: 0;
    }

    .content .flex-row {
        flex-direction: column;
    }

    .downloads.container,
    .example.container,
    .about.container,
    .features.container {
        width: 100%;
    }

    .link-bucket {
        width: 100%;
    }

    .about p {
        margin-top: 0;
    }
}